@model IEnumerable<ThaymesCabs.Models.Driver>

@{
    ViewBag.Title = "Drivers";
}

<h2>Drivers</h2>

<p>
    @Html.ActionLink("Create New Profile", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicenceNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicenceNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DriverId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DriverId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DriverId })
        </td>
    </tr>
}

</table>
